# GENERAL
**/build/*

# EDITOR
.vscode
.VSCodeCounter
.idea
.nvim
.vimspector.json
**/clangd
**/compile_commands.json

# PYTHON
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
.hypothesis
**/try.py
**/celerybeat-schedule
dist/
wheels/
**/*.ju.py
**/.ipynb_checkpoints/

# NODE JS TS
**/node_modules

# AI
**/*.onnx
**/*.pt
**/*.pkl
**/*.npy

# Editor temporaries
*.swn
*.swo
*.swp
*~

# CPP
**/.ccls-cache
doxygen
compile-commands.json
CMakeCache.txt
CMakeFiles
**/*.so
**/*.dll

# SOLIDITY
**/cache
**/artifacts
**/*coverage*
**/@openzeppelin/*
**/gasReporterOutput.json

# DB
**/*.db

# SUBMODULES
